body {
    font-family: 'Syne', sans-serif;
}

pre {
    border: 0;
    color: #333;
    padding: 30px;
    overflow: auto;
    margin: 1.5em 0;
    font-size: 13px;
    border-radius: 0;
    background: #e9f3f5;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.42857143;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.hljs {
    color: #333;
    display: block;
    overflow-x: auto;
    font-size: inherit;
    white-space: pre-wrap;
    padding: 0 !important;
    background: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f9fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #20B2BF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #198e98;
}

.nav-link {
    color: #7b8c90;
}

.nav-link:hover {
    color: #383838;
}

.nav-pills .nav-link.active {
    color: #383838;
    background: none;
    font-weight: bold;
}

nav hr {
    margin: 0;
    background: rgba(18, 65, 69, .2)
}

p {
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
}

p a {
    color: #1bb5c2;
    text-decoration: none;
}

p a:focus, p a:hover {
    color: #1bb5c2;
    text-decoration: underline;
}

h1 {
    font-size: 34px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.28em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.28em;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.28em;
    margin-bottom: 10px;
}

.hljs-attribute {
    color: #000080;
}

.hljs-built_in {
    color: #0086b3;
}

.hljs-number {
    color: #008080;
}

.hljs-string {
    color: #d14;
}

.hljs-keyword {
    color: #333;
    font-weight: bold;
}

.hljs-comment {
    color: #998;
    font-style: italic;
}

.hljs-doctag {
    color: #c7254e;
}

.highlighter-rouge {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}